<body>
<div>
  <div class="container">
    <img src="../../../img/LogoFoodFinder.png" class="logo-FoodFinder" alt="LogoFoodFinder">
    <h1 class="h1-restore-password">Restablecer Contraseña</h1>
    <form>
      <div>
        <label class="label-restore-password" for="email">E-mail</label>
        <input class="inputs-restore-password" type="email" id="email" placeholder="Ingrese un correo"/>
      </div>
      <div>
        <button mat-raised-button (click)="onNewPassword()" class="submit-button-restore-password" type="submit">Enviar correo para restablecer tu contraseña</button>
      </div>
    </form>
  </div>
</div>
</body>
