<mat-toolbar class="header">
  <div class="header__left">
    <img src="../../../../assets/images/profileImg.png" alt="" class="logo" />
    <input class="search" type="search" placeholder="Buscar" />
  </div>
</mat-toolbar>
<div class="detail__container">
  <h1 class="title">Restaurante Buen Gusto</h1>
  <div class="banner__image">
    <img
      src="https://hips.hearstapps.com/hmg-prod/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*"
      alt=""
      class="image"
    />
    <div class="carousel__image">
      <div>
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="grid tmp-col-3 gap-md mb-lg">
    <div class="card__detail">
      <span> Calificaciones y Reseñas </span>
      <span> Calificaciones: </span>
      <div class="flex justify-between">
        <span> Comida</span>
        <span> 3</span>
      </div>
      <div class="flex justify-between">
        <span> Servicio</span>
        <span> 4</span>
      </div>
      <div class="flex justify-between">
        <span> Precio</span>
        <span> 3</span>
      </div>
      <div class="flex justify-between">
        <span> Ambiente</span>
        <span> 3</span>
      </div>
    </div>
    <div class="card__detail">
      <span> Detalles </span> <br>
      <div class="flex justify-between">
        <span> Rango de precios </span>
        <span> S/.50 A S/.150 </span>
      </div>
      <div class="flex justify-between">
        <span> Tipos de comida:</span> <br>
          <span>  </span>
          <span> Criollo y Marino </span>

      </div>
      <div class="flex justify-between">
        <span> Ver el menu</span>
      </div>
    </div>
    <div class="card__detail">
      <span> Ubicación y contacto </span>
        <br>
      <div class="flex justify-between">
        <span> Dirección exacta</span>
          <span> calle san juan 234</span>

      </div>
      <div class="flex justify-between">
        <span> Distrito</span>
         <span> San Isidro</span>

      </div>
      <div class="flex justify-between">
        <span> Sitio Web</span>
          <span> buengusto.com </span>
      </div>
      <div class="flex justify-between">
        <span> Telefono</span>
        <span> 992663791</span>

      </div>
    </div>
  </div>
  <h1>Reseñas</h1>
  <div class="review__container">
    <div class="review__card">
      <div>Enrique</div>
      <div>El restaurante fue muy lindo</div>
      <div>
        La experiencia en el restaurante es muy buena, ya que tiene un lindo
          ambiente y es acogedor.
      </div>
    </div>
    <div class="review__card">
        <br>
      <div>Dayane</div>
      <div>La comida es deliciosa </div>
      <div>
        Recomiendo mucho el restaurante, ya que su comida es deliciosa
          y toda la atención fue muy agradable.
      </div>
        <br>

    </div>
    <div class="review__card">
      <div>Chloe</div>
      <div>Me encanto la atención</div>
      <div>
       La atención fue demasiado linda porque los mosos siempre
          estuvieron atentos a cualquier incomodidad o cualquier producto
          que podamos necesitar.
      </div>
    </div>
  </div>
</div>

