<h1>Nombre de restaurante</h1>
<div style="display: flex; align-items: center">
  <mat-icon aria-hidden="true" aria-label="icono de calle">place</mat-icon>
  <p>calle</p>
  <mat-icon>phone</mat-icon>
  <p>telefono</p>
  <mat-icon>computer</mat-icon>
  <p>pagina web</p>
  <mat-icon>schedule</mat-icon>
  <p>apertura - cierre</p>
</div>
<div class="cards">
  <mat-card>
    <mat-card-title>Menu</mat-card-title>
    <mat-card-content>
      <p>Plato 1</p>
      <p>Plato 2</p>
      <p>Plato 3</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Menu</mat-card-title>
    <mat-card-content>
      <p>Plato 1</p>
      <p>Plato 2</p>
      <p>Plato 3</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Menu</mat-card-title>
    <mat-card-content>
    <p>Plato 1</p>
    <p>Plato 2</p>
    <p>Plato 3</p>
    </mat-card-content>
  </mat-card>
</div>
