<body>
<div>
  <div class="container">
    <img src="../../../img/LogoFoodFinder.png" class="logo-FoodFinder" alt="LogoFoodFinder">
    <h1 class="h1-login">Iniciar Sesión</h1>
    <form>
      <div>
        <label class="label-login" for="email">E-mail</label>
        <input class="inputs-login" type="email" id="email" placeholder="Ingrese un correo" required/>
      </div>
      <div>
        <label class="label-login" for="password">Contraseña</label>
        <input class="inputs-login" type="password" id="password" placeholder="Ingrese una contraseña" required/>
      </div>
      <div>
        <button mat-raised-button class="submit-button-login" type="submit">Iniciar Sesión</button>
      </div>
      <div>
        <button mat-raised-button class="submit-button-login" type="submit" (click)="onCreateAccount()">Crear cuenta</button>
      </div>
      <div class="forgot-password">
        <p (click)="onForgotPassword()" role="button" tabindex="0">¿Olvidaste tu contraseña?</p>
      </div>
      <div class="other-question">
        <p>¿Eres dueño de restaurante?</p>
        <p (click)="onCreateAccount()" role="button" tabindex="0">¿No tienes cuenta aun? Regístrate</p>
      </div>
    </form>
  </div>
</div>
</body>
