<body>
<div>
  <div class="container">
    <img src="../../../img/LogoFoodFinder.png" class="logo-FoodFinder" alt="LogoFoodFinder">
    <h1 class="h1-login">Cambio de contraseña</h1>
    <form>
      <div>
        <label class="label-login" for="email">Ingrese la nueva contraseña</label>
        <input class="inputs-login" type="password" id="email" placeholder="Ingrese una contraseña"  required/>
      </div>
      <div>
        <label class="label-login" for="password">Ingresela nuevamente</label>
        <input class="inputs-login" type="password" id="password" placeholder="Ingresela de nuevo"  required/>
      </div>
      <div>
        <button mat-raised-button (click)="onReturntoLogin()" class="submit-button-login" type="submit">Confirmar</button>
      </div>
    </form>
  </div>
</div>
</body>
