.detail__container {
  background: #ebebd3;
  padding: 34px;
  .title {
    font-size: 56px;
    line-height: 36px;
  }
  .banner__image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    img {
      width: 100%;
    }
  }
  .carousel__image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 14px;
    row-gap: 10px;
    img {
      width: 100%;
    }
  }
}
.header {
  background: #1f271b;
  padding: 2.5rem 6.5rem;
  .header__left {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 48px;
    .logo {
      width: 10%;
      height: 70px;
    }
    .search {
      border-radius: 24px;
      border: 1px solid #ebebd3;
      background: #1f271b;
      height: 28px;
      width: 350px;
    }
  }
}

.card__detail {
  background: #3c0000;
  border-radius: 10px;
  padding: 12px;
  span {
    color: #ebebd3;
  }
}
.review__container {
  background: #3c0000;
}

.review__card {
  background: #ebebd3;
}
