/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.tmp-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-md {
  gap: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}
